html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
}

body{
    /* background-color: #0D0D0D; */
    background-image: url(./images/photo-1509023464722-18d996393ca8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color:#F2D4C2;
    margin: 0;
    padding: 0;
}

.indexHeader{
    background-color: #999999;
    opacity: 0.7;
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    justify-content: space-around;
    background-color: #8C878C;
}
nav a{
    color: #590d0d;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1rem;
    border: 2px solid #590d0d;
    flex-grow: 1;
    text-align: center;
}
.indexMain{
    display: flex;
    justify-content: space-around;
    flex-grow: 2;
    background-color: #3E3E40;
    opacity: 0.8;
    /* background-color: yellow; */

}
section{
    margin:2rem auto;
    
    text-align: center;
    flex-basis: 60rem;
    background-color: rgb(91, 1, 1);
}
section p{
    width: 500px;
    margin: 0 auto;
    /* padding-top: 2rem; */
}

section h1{
    /* padding-top: 2rem; */
    font-size: 3rem;
}
img{
    margin: 2rem;
    width: 200px;
    opacity: 1;
    border-radius: 5px;
}

/* ***********photo html file******** */
.photoMain{
    margin: 0;
    padding: 0;
}

.photoSection{
    /* background-color: yellow; */
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.photoHeader img{
    width: 350px;
}

.photoHeader ul{
    display: flex;
    justify-content: center;
    
}
.photoHeader ul li{
    list-style-type: none;
    padding: 0.3rem;
}

.photoHeader a{
    border: 2px solid black;
    border-radius: 100%;
    padding: 1px 10px;
    
}
.photoHeader a:hover{
    background-color: white;
}

/* ************favoriet html file**************** */

/* ____________food part___________ */
.favorMain{
    text-align: center;
}
.favorFood{
    display: flex;
    background: none;
    flex-wrap: wrap;
    flex-basis: 100%;
    
}
.art{
    background-color: #590d0d;
    margin: 1rem;
    height: 350px;
    overflow: hidden;
}
.art:hover{
    transition: 2s;
    height: 520px;
}
.art h2{
    margin-top:0;
}

.favorFood img{
    width: 300px;
    height: 300px;
}

.favorFood img:hover{
    transition: 2s;
    transform: rotate(360deg);
}
.favorFood p{
    width: 300px;
}

/* ___________sport part____________ */
.favorSport{
    background: none;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}
.sport{
    background-color: #590d0d;
    margin: 1rem;
    height: 350px;
    overflow: hidden;
}
.sport:hover{
    transition: 2s;
    height: 520px;
}
.sport h2{
    margin-top:0;
}

.favorSport img{
    width: 300px;
    height: 300px;
}
.favorSport img:hover{
    transition: 2s;
    transform: rotate(360deg);
}

.favorSport p{
    width: 300px;
}






